<h3>{{title}}</h3>
<div class="table-responsive">
    <table class="table table-dark">
        <thead id="thead1"></thead>
        <tbody id="tbody1"></tbody>
    </table>
</div>
<script type="module" src="../Representation/fullInfoAboutSubstances.js"></script>