<h3>{{title}}</h3>

<div class="inpValue">
    <p class="parag">Введите название химического вещества</p>
    <input class="form-input" placeholder="Название химического вещества">
    <button class="button btn-secondary btn-search">Search</button>
</div>
<div class="table-responsive">
    <table class="table table-dark">
        <thead id="thead1"></thead>
        <tbody id="tbody1"></tbody>
    </table>
</div>
<script type="module" src="../procedures/infSubstanceProc.js"></script>