
<div class="table-responsive">
    <table class="table table-dark">
        <thead id="thead1"></thead>
        <tbody id="tbody1"></tbody>
    </table>
</div>

<a href="#" onclick="return up()" id="toTopBtn"
   class="cd-top text-replace js-cd-top cd-top--is-visible cd-top--fade-out" data-abc="true">Top</a>

<script src="insertedOfficials.js"></script>