<h3>{{title}}
    <button class="button btn-secondary" id="addButton" onclick="createPlant()" style="margin-left: 10px;">Добавить
    </button>
</h3>
<div class="table-responsive">
    <table class="table table-dark">
        <thead id="thead1"></thead>
        <tbody id="tbody1"></tbody>
    </table>
</div>

<form class="decor">
    <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
    <div class="circle"></div>
    <div class="form-inner">
        <h3>Добавление растения</h3>
        <input id='inpUniqNum' type="" placeholder="Уникальный номер растения">
        <input id='inpNamePlant' type="" placeholder="Название растения">
        <textarea id='inpSystLocation' placeholder="Систематическое положение" rows="2"></textarea>
        <input id='inpLife' type="" placeholder="Жизненная форма">
        <textarea id='inpBioDescr' placeholder="Биологическое описание" rows="3"></textarea>
        <input id='inpEcoDescr' type="" placeholder="Экологическое описание">
        <input id='inpDateOfLand' type="" placeholder="Дата посадки">
        <input id='inpInfWrOff' type="" placeholder="Информация о списании">
        <input id='inpLocaton' type="" placeholder="Местоположение в дендропарке">
        <input id='inpUsing' type="" placeholder="Применение">
        <input id='inpNumOfreg' type="" placeholder="Номер региона">

        <input id='inpBtnAdd' type="submit" value="Добавить">
    </div>
    <button type="button" class="close " aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</form>

<a href="#" onclick="return up()" id="toTopBtn"
   class="cd-top text-replace js-cd-top cd-top--is-visible cd-top--fade-out" data-abc="true">Top</a>
<script src="Plants.js"></script>