<h3>{{title}}
    <button class="button btn-secondary" id="addButton" onclick="CreateUser()"
            style="margin-left: 10px;">Добавить
    </button>
</h3>
<div class="table-dark">
    <table class="table table-dark">
        <thead id="thead1"></thead>
        <tbody id="tbody1"></tbody>
    </table>
</div>

<form class="decor">
    <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
    <div class="circle"></div>
    <div class="form-inner">
        <h3>Добавление пользователя</h3>
        <input required id='inpNumBook' type="numBook" placeholder="Номер поименной книги">
        <input required id='inpTabNum' type="tabNum" placeholder="Табельный номер">
        <input required id='inpfio' type="fio" placeholder="ФИО">
        <input required id='inprank' type="rank" placeholder="Должность">
        <textarea required id='inpGoalOfUsing' placeholder="Цель использования материалов дендропарка" rows="3"></textarea>
        <input id='inpBtnAdd' type="submit" value="Добавить">
    </div>
    <button type="button" class="close " aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</form>


<a href="#" onclick="return up()" id="toTopBtn"
   class="cd-top text-replace js-cd-top cd-top--is-visible cd-top--fade-out" data-abc="true">Top</a>

<script src="UsersOfDendropark.js"></script>