<h3>{{title}}<button class="button btn-secondary" id="addButton" style="margin-left: 10px;">Добавить</button></h3>
<div class="table-responsive">
    <table class="table table-dark">
        <thead id="thead1"></thead>
        <tbody id="tbody1"></tbody>
    </table>
</div>
<script src="writeOffCertificates.js"></script>