body {
   margin: 0;
   padding: 0;
   background-color: rgb(33, 37, 41);
}

.main {
   background-color: rgb(33, 37, 41);
   width: 70%;
}


/* drop down menu */

.dropdown-menu {
   display: none;
}

.dropdown:hover .dropdown-menu {
   display: block;
}


.navbar {
   position: sticky;
   width: 100%;
   top: 0;
   z-index: 1;
}


.container-fluid {
   display: flex;
   position: relative;
   width: 100%;
   /*position: absolute;*/
   /*z-index: 4;*/
}

.table{
   position: absolute;
}

/*.asd{*/
/*   position: absolute;*/
/*   z-index: 7;*/
/*}*/


.col-sm-1 {
   padding-left: 0px;
   /*position: absolute;*/
   /*z-index: 1;*/
   /*width: 30%;*/
}

.auth {
   display: block;
   font-family: 'Inconsolata', monospace;
   background: rgb(52, 56, 61);
   color: rgb(255, 255, 255);
   margin: 20px auto 0;
   width: 100%;
   text-align: center;
   position: absolute;
   height: 100%;
   z-index: 3;
}

#wrapper {
   background: rgb(52, 56, 61);
   width: 320px;
   left: 50%;
   margin-left: 530px;
   top: 50%;
   margin-top: 175px;
}

.table-item {
   padding-top: 7px;
}

.table-item a:hover {
   color: rgb(251, 172, 41);
}

h3 {
   color: rgb(251, 172, 41);
}

a {
   color: white;
}

a:hover {
   text-decoration: none;
}


/* ======================== */
.decor {
   display: none;
   position: relative;
   left: 36%;
   max-width: 400px;
   margin: 50px auto 0;
   background: white;
   border-radius: 30px;
}

.form-left-decoration,
.form-right-decoration {
   content: "";
   position: absolute;
   width: 50px;
   height: 20px;
   background: #ffc201;
   border-radius: 20px;
}

.form-left-decoration {
   bottom: 60px;
   left: -30px;
}

.form-right-decoration {
   top: 60px;
   right: -30px;
}

.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
   content: "";
   position: absolute;
   width: 50px;
   height: 20px;
   border-radius: 30px;
   background: white;
}

.form-left-decoration:before {
   top: -20px;
}

.form-left-decoration:after {
   top: 20px;
   left: 10px;
}

.form-right-decoration:before {
   top: -20px;
   right: 0;
}

.form-right-decoration:after {
   top: 20px;
   right: 10px;
}

.circle {
   position: absolute;
   bottom: 80px;
   left: -55px;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background: white;
}

.form-inner {
   padding: 50px;
}

.form-inner input,
.form-inner textarea {
   display: block;
   width: 100%;
   padding: 0 20px;
   margin-bottom: 10px;
   background: #E9EFF6;
   line-height: 40px;
   border-width: 0;
   border-radius: 20px;
   font-family: 'Roboto', sans-serif;
}

.form-inner input[type="submit"] {
   margin-top: 30px;
   background: #31373e;
   ;
   border-bottom: 4px solid #31373e;
   color: white;
   font-size: 14px;
}

.form-inner textarea {
   resize: none;
}

.form-inner h3 {
   margin-top: 0;
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   font-size: 24px;
   color: #707981;
}

.close {
   position: absolute;
   top: 0;
   right: 10px;
   user-select: none;
}

.close:focus {
   outline: none;
}

.height {
   position: relative;
}

#toTopBtn {
   color: #1b2024;
   position: fixed;
   bottom: 10px;
   left: 10px;
   padding: 10px;
   background-color: #fbae24;
}

#toTopBtn:hover {
   background-color: #fecc64;
}



/* authenticationForm */


/* === Sign in Form === */
#signin {
   height: 90px;
   width: 300px;
   border-radius: 8px;
   position: relative;
}

#signin::before {
   display: block;
   position: relative;
   height: 2px;
   background: rgb(52, 56, 61);
   content: '';
   top: 44px;
   margin-left: 20px;
   z-index: 1;
}

#signin input:first-of-type {
   border-top-right-radius: 8px;
   border-top-left-radius: 8px;
}

#signin input:last-of-type {
   border-bottom-right-radius: 8px;
   border-bottom-left-radius: 8px;
}

#signin input[type="text"],
#signin input[type="password"],
#signin button[type="submit"] {
   background: rgb(28, 30, 33);
   box-shadow: inset -100px -100px 0 rgb(28, 30, 33);
   /*Prevent yellow autofill color*/
   color: rgb(52, 56, 61);
}

#signin input[type="text"],
#signin input[type="password"] {
   position: relative;
   display: block;
   width: 280px;
   height: 45px;
   border: 0;
   outline: 0;
   top: -2px;
   padding: 0 0 0 20px;
   font-weight: 700;
}

#signin input[type="text"]:focus,
#signin input[type="password"]:focus {
   color: rgb(255, 255, 255);
}

#signin button[type="submit"] {
   display: block;
   position: absolute;
   width: 52px;
   height: 52px;
   color: rgb(52, 56, 61);
   border-radius: 50px;
   outline: 0;
   z-index: 2;
   top: 19px;
   right: -24px;
   border: 6px solid rgb(52, 56, 61);
   font-size: 25px;
   text-indent: 0px;
   padding-left: 9px;
   padding-bottom: 3px;
   text-align: center;
}

#signin button[type="submit"]:hover {
   color: rgb(0, 126, 165);
   text-shadow: 0 0 10px rgb(0, 126, 165);
   cursor: pointer;
}

#signin p {
   color: rgb(79, 85, 97);
   padding: 0 20px;
   font-weight: 700;
   font-size: 12px;
   margin: 5px 0 0 0;
}

#signin p>a {
   color: rgb(111, 119, 135);
   text-decoration: none;
}

#signin p>a:hover {
   border-bottom: 1px solid;
}

.fa {
   position: relative;
   top: -35px;
}

.parag{
   color: white;
}