<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Дендропарк</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Регламентированные запросы
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Хранимые процедуры
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/countOfPlants">Поиск растений по жизненной форме</a>
                        <a class="dropdown-item" href="/countOfTeachers">Поиск сотрудников по должности</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="col-sm-1">
            <ul class="nav nav-sidebar">
                <li class="table-item"><a href="/">Главная</a></li>
                <li class="table-item"><a href="/UsersOfDendropark">Пользователи дендропарка</a></li>
                <li class="table-item"><a href="/Officials">Должностные лица</a></li>
                <li class="table-item"><a href="/plants">Растения</a></li>
                <li class="table-item"><a href="/chemicalSubstance">Химические вещества</a></li>
                <li class="table-item"><a href="/studyExcursions">Учебные экскурсии</a></li>
                <li class="table-item"><a href="/excursionReports">Отчеты о проведенных экскурсиях</a></li>
                <li class="table-item"><a href="/plantReplacement">Заменённые растения</a></li>
                <li class="table-item"><a href="/writeOffCertificates">Акты на списание</a></li>
            </ul>
        </div>

        <div class="col-md-11 main">{{{body}}}</div>

    </div>
    <script>

        function up() {
            let top = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
            if (top > 0) {
                window.scrollBy(0, ((top + 100) / -10));
                t = setTimeout('up()', 20);
            } else clearTimeout(t);
            return false;
        }
    </script>
</body>

</html>